<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.grosvenor.customerportalapp">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Grosvenor Connect" android:icon="@drawable/icon30" android:theme="@style/Theme.Maintheme"></application>


<!--	android:theme="@style/Theme.Maintheme"-->
</manifest>